p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 500%;
  color: #4A4A4A;
}

h2 {
  cursor: pointer;
  margin: auto;
  cursor: default;
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 30px;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.gps_ring {
    position: absolute;
    top: calc(50% - 215px);
    left: calc(50% - 215px);

    border: 15px solid #50E3C2;
    -webkit-border-radius: 215px;
    height: 400px;
    width: 400px;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0

    text-align: center;
    justify-content: center;
    margin: auto;
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

#button {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 200px);
	width: 400px;
	height: 400px;
	background: #50E3C2;
	-moz-border-radius: 200px;
	-webkit-border-radius: 200px;
	border-radius: 200px;
  font-size: 30px;

  text-align: center;
  justify-content: center;
  margin: auto;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, .15);

  transition: 0.5s ease;
}

#button:active {
  transition: 0.0s ease;

  font-size: 12px;
  height: 300px;
  width: 300px;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
}

#twitterButton{
  position: absolute;
  top: calc(50% + 150px);
  left: calc(50% + 150px);
}

#btText {
  cursor: pointer;
}

#grad {
    background: #EFEFEF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#EFEFEF, #E2FFE9); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EFEFEF, #E2FFE9); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EFEFEF, #E2FFE9); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EFEFEF, #E2FFE9); /* Standard syntax */
}

footer {
  position: fixed;
  bottom: 0px;
  opacity: 0.5;

  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
}

footer p {
  text-align: center;

  margin: 0;

  font-size: 15px;
  font-weight: 400;

  color: #9B9B9B;
  line-height: 50px;
}

/* SPINNER */

.spinner {
  margin: auto;
  width: 200px;
  height: 90px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: white;
  height: 100%;
  width: 20px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
